nav {
  font-weight: 900;
}
.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}
.navb-link .active {
  color: white;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white;
}
