$colorStart: rgb(
  0,
  245,
  33
); // cambiando questo colore cambiano in automatico tutti i colori del sito e delle scritte, fai delle prove cambiando $colorStart
$bodyColor: lighten($colorStart, 10%);
$carouselColor: lighten($bodyColor, 10%);
$carouselText: invert($carouselColor);

:export {
  colorStart: $colorStart;
}
