nav {
  font-weight: 900;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.navb-link .active {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white;
}

:root {
  --Mycolor: #4c4243;
}

.color-0 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0);
}
.color-0 h3,
.color-0 h4,
.color-0 h5,
.color-0 h6,
.color-0 small,
.color-0 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-0 h1,
.color-0 h2 {
  filter: invert(100%);
}

.color-1 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.0454545455) 0 0);
}
.color-1 h3,
.color-1 h4,
.color-1 h5,
.color-1 h6,
.color-1 small,
.color-1 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-1 h1,
.color-1 h2 {
  filter: invert(100%);
}

.color-2 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.0909090909) 0 0);
}
.color-2 h3,
.color-2 h4,
.color-2 h5,
.color-2 h6,
.color-2 small,
.color-2 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-2 h1,
.color-2 h2 {
  filter: invert(100%);
}

.color-3 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1363636364) 0 0);
}
.color-3 h3,
.color-3 h4,
.color-3 h5,
.color-3 h6,
.color-3 small,
.color-3 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-3 h1,
.color-3 h2 {
  filter: invert(100%);
}

.color-4 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1818181818) 0 0);
}
.color-4 h3,
.color-4 h4,
.color-4 h5,
.color-4 h6,
.color-4 small,
.color-4 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-4 h1,
.color-4 h2 {
  filter: invert(100%);
}

.color-5 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2272727273) 0 0);
}
.color-5 h3,
.color-5 h4,
.color-5 h5,
.color-5 h6,
.color-5 small,
.color-5 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-5 h1,
.color-5 h2 {
  filter: invert(100%);
}

.color-6 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2727272727) 0 0);
}
.color-6 h3,
.color-6 h4,
.color-6 h5,
.color-6 h6,
.color-6 small,
.color-6 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-6 h1,
.color-6 h2 {
  filter: invert(100%);
}

.color-7 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3181818182) 0 0);
}
.color-7 h3,
.color-7 h4,
.color-7 h5,
.color-7 h6,
.color-7 small,
.color-7 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-7 h1,
.color-7 h2 {
  filter: invert(100%);
}

.color-8 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3636363636) 0 0);
}
.color-8 h3,
.color-8 h4,
.color-8 h5,
.color-8 h6,
.color-8 small,
.color-8 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-8 h1,
.color-8 h2 {
  filter: invert(100%);
}

body {
  background-color: var(--Mycolor) !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09) 0 0);
}
body h2 {
  filter: invert(100%);
  mix-blend-mode: difference;
}

#portfolio {
  background-color: var(--Mycolor);
  color: var(--Mycolor);
}
#portfolio h1 {
  font-size: 6em;
}
@media screen and (min-width: 768px) {
  #portfolio h1 {
    font-size: 8em;
  }
}
#portfolio h2 {
  font-size: 3em;
}
@media screen and (min-width: 768px) {
  #portfolio h2 {
    font-size: 5em;
  }
}

#portfolio2 h2 {
  font-size: 3em;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  #portfolio2 h2 {
    font-size: 5em;
  }
}

#submitButton {
  font-weight: 700;
}

#contact h2 {
  font-weight: 900;
}

footer {
  font-weight: 700;
}
footer h4 {
  font-weight: 700;
}

:root {
  --Mycolor: #4c4243;
}

:root {
  --Mycolor: #4c4243;
}

.color-0 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0);
}
.color-0 h3,
.color-0 h4,
.color-0 h5,
.color-0 h6,
.color-0 small,
.color-0 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-0 h1,
.color-0 h2 {
  filter: invert(100%);
}

.color-1 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.0454545455) 0 0);
}
.color-1 h3,
.color-1 h4,
.color-1 h5,
.color-1 h6,
.color-1 small,
.color-1 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-1 h1,
.color-1 h2 {
  filter: invert(100%);
}

.color-2 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.0909090909) 0 0);
}
.color-2 h3,
.color-2 h4,
.color-2 h5,
.color-2 h6,
.color-2 small,
.color-2 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-2 h1,
.color-2 h2 {
  filter: invert(100%);
}

.color-3 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1363636364) 0 0);
}
.color-3 h3,
.color-3 h4,
.color-3 h5,
.color-3 h6,
.color-3 small,
.color-3 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-3 h1,
.color-3 h2 {
  filter: invert(100%);
}

.color-4 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1818181818) 0 0);
}
.color-4 h3,
.color-4 h4,
.color-4 h5,
.color-4 h6,
.color-4 small,
.color-4 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-4 h1,
.color-4 h2 {
  filter: invert(100%);
}

.color-5 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2272727273) 0 0);
}
.color-5 h3,
.color-5 h4,
.color-5 h5,
.color-5 h6,
.color-5 small,
.color-5 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-5 h1,
.color-5 h2 {
  filter: invert(100%);
}

.color-6 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2727272727) 0 0);
}
.color-6 h3,
.color-6 h4,
.color-6 h5,
.color-6 h6,
.color-6 small,
.color-6 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-6 h1,
.color-6 h2 {
  filter: invert(100%);
}

.color-7 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3181818182) 0 0);
}
.color-7 h3,
.color-7 h4,
.color-7 h5,
.color-7 h6,
.color-7 small,
.color-7 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-7 h1,
.color-7 h2 {
  filter: invert(100%);
}

.color-8 {
  background-color: var(--Mycolor);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3636363636) 0 0);
}
.color-8 h3,
.color-8 h4,
.color-8 h5,
.color-8 h6,
.color-8 small,
.color-8 button {
  filter: invert(100%);
  mix-blend-mode: difference;
}
.color-8 h1,
.color-8 h2 {
  filter: invert(100%);
}

body {
  background-color: var(--Mycolor) !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09) 0 0);
}
body h2 {
  filter: invert(100%);
  mix-blend-mode: difference;
}/*# sourceMappingURL=app.css.map */